div {
  text-align: center;
}

.Header{
  background-color: teal;
}

.info{
  margin-top: 30px;
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
}

h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
}

.value-container{
  background-color: teal;
  padding: 3px;
  width: fit-content;
  margin: auto;
  padding: 20px;
}

.mint{
  margin-top: 30px;
}

.supply{
  margin: auto;
  margin-top: 20px;
  background-color: teal;
  width: fit-content;
  padding: 20px
}

.mints{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


